.github-fork-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
    overflow: hidden;
    z-index: 1000;
}
.github-fork-ribbon a {
    position: absolute;
    display: block;
    width: 200px;
    padding: 5px 0;
    background-color: #151513;
    color: #fff;
    text-align: center;
    font: 700 13px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    top: 42px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}
.github-fork-ribbon a:hover {
    background-color: #e05a00;
}

