{:source-paths ["src"]
 :dependencies [[reagent "1.1.0"]
                [markdown-clj "1.10.0"]
                [hickory "0.7.1"]
                [cljs-ajax "0.8.1"]]
 :builds {:app
          {:target :browser
           :output-dir "public/js"
           :asset-path "/js"
           :modules {:main {:init-fn my-app.core/init}}
           :devtools {:http-root "public"
                      :http-port 3000}
           :release {:compiler-options {:optimizations :advanced
                                        :pretty-print false
                                        :elide-asserts true}
                     :closure-defines {goog.DEBUG false}
                     :build-hooks [(shadow.cljs.build-report/report)]
                     :source-maps false}}}}
